page-my-devices {
  .div-button-class{
    width: 100%;
    text-align: center;
    height: 100%;
    button{
      width:70%;
      top: 50%;
      height: 5vh;
      background-color: #44a1a0;
    }
  }


/*
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
    .card-slide{
      position: absolute;
      top:0;
      left:0;
      height:75%;
    }

    div.swiper-pagination {
      top:0;
      bottom:inherit;

    }

    .swiper-pagination-bullet {
      background: white;
      opacity: 0.5;
      height:1px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: white;
    }

    .card-name {
      position: absolute;
      top: 10%;
      font-size: 1.4em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-addr {
      font-size: 0.7em;
      position: absolute;
      top: 80%;
      width: 100%;
      color: #fff;
    }

    .card-info {
      font-size: 0.7em;
      position: absolute;
      text-align: left;
      top:20%;
      left:20%;
      width: 100%;
    }
    h3{
      color:#fff;
    }

    .card-button{
      margin-right: 10px;
    }

    ion-checkbox{
      z-index: 1;
      zoom:2.0;
      position: absolute;
      left:4%;
      top:4%;
      width: 20px;
    }
  }*/

}
