<!--
  Generated template for the MyDevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

  <ion-navbar>
    <ion-title>My Devices</ion-title>
  </ion-navbar>

</ion-header-->


<ion-content no-padding class="card-background-page">
    <div *ngIf="bandManager.noDevices" class="div-button-class">
      <button round ion-button (click)="searchButton()">{{'SEARCH_NEW_DEVICES' | translate}}</button>
    </div>

  <div *ngFor="let device of bandManager.bands">
    <device-card [device]="device"></device-card>
    <br>
  </div>

</ion-content>
