<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

  <ion-navbar>
    <ion-title>{{'LOGIN' | translate}}</ion-title>
  </ion-navbar>

</ion-header-->


<ion-content padding class="login-bg-image">
  <div>

  <br/>
  <br/>
  <br/>
  <br>
  <br/>
  <br>
    <h1 class="title">Health Band</h1>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <form ion-grid fixed (ngSubmit)="logForm()">
    <ion-list >

      <ion-item ion-col col-12 >
        <ion-label class="login-form-text-style" floating>{{'USERNAME' | translate}}</ion-label>
        <ion-input type="url" [(ngModel)]="todo.username" name="username" clearInput="true" required></ion-input>
      </ion-item>

      <ion-item  ion-col col-12 class="login-form-text-style">
        <ion-label  class="login-form-text-style"  floating>{{'PASSWORD' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="todo.password" name="password" clearInput="true" required></ion-input>
      </ion-item>

      <br/>
      <br/>
      <ion-item>
        <ion-label class="login-form-text-style">{{'REMEMBER_ME' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="todo.rememberMe" name="rememberMe" [checked]="false"></ion-checkbox>
      </ion-item>

    </ion-list>
    <br/>
    <br/>
    <div class="log-in-button" ion-col col-12>
      <button round type="submit" ion-button block>
        {{'LOGIN' | translate}}
      </button>
    </div>
  </form>
  </div>
</ion-content>
