page-login {

  .login-bg-image{
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../assets/imgs/female_running.jpg') no-repeat fixed!important;
    background-size:280% 100%!important;
    background-position: 10% !important;
  }
  .item.item-input {
    background-color: transparent;
    color: white;
  }
  .item.item-checkbox {
    background-color: transparent;
  }
  .login-form-text-style{
    color:white !important;
  }

  .log-in-button{
    width: 100%;
    .button{
      left: 50%;
      transform: translate(-50%, 0%) !important;
      width: 60%;
      height: 5vh;
      background-color: color($colors,green);
    }

  }
  h1{
    width: 100%;
    text-align: center;
    font-family: "Montserrat" !important;
    font-weight: bold;
    font-size: 3em !important;
    color: #212121;
  }


}
