progress-bar {
  ///position: absolute;
  //width: 100%;
  .progress-outer {
    position: relative;
    width: 100%;
    text-align: right;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
  }

  .progress-middle{
    height: 10px;
    //max-width: 80%;
    position: relative;
    text-align: right;

    .progress-icon{
      background-color: white;
      position: absolute;
      bottom: 18px;
      right: -5px;

    }
    &:after{
      position: absolute;
      content: ' \25CF';
      font-size: 20px;
      bottom:0;
      right:-2px;
      color: red;

    }
  }
  .progress-inner {
    position: relative;
    //min-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px;
    height: 1px;
    border-radius: 20px;
    background-color: map-get($colors, primary);

  }

}
