
<div>
  <div class="progress-outer">
  <div class="progress-inner" [style.width]="progress + '%'"></div>
  </div>
  <div class="progress-middle" [style.width]="progress + '%'">
    <ion-icon class="progress-icon" name="healthBand-walk-sp"></ion-icon>
  </div>
</div>
