page-register {
  .register-bg-image{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('../assets/imgs/male_running2.jpg') !important;
    background-repeat:no-repeat!important;
    background-size:130% 100% !important;
    background-position: 90% 0 !important;
    //left: -10%
  }

  .item.item-input {
    background-color: transparent;
    color: white;

  }
  .item.item-checkbox {
    background-color: transparent;
  }

  .item.item-select{
    background-color: transparent;
  }
  .register-form-text-style{
    color:white !important;
  }

  ion-select{
    color: white;
  }

  .register-button{
    width: 100%;
    .button{
      left: 50%;
      transform: translate(-50%, 0%) !important;
      width: 60%;
      height: 5vh;
      background-color: color($colors,green);
    }
  }
}
