<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>{{'REGISTER' | translate}}</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding class="register-bg-image">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

    <form ion-grid fixed [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <ion-item ion-col col-12>
          <ion-label class="register-form-text-style" floating>{{'NAME' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="todo.name" formControlName="name" [class.invalid]="!registerForm.controls.name.valid && (registerForm.controls.name.dirty)"></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerForm.controls.name.valid  && (registerForm.controls.name.dirty )" class="alert-danger">
          <div *ngIf="registerForm.controls.name.hasError('maxLength')">{{'MAX_LENGTH_OF' | translate}} 30 </div>
          <div *ngIf="registerForm.controls.name.hasError('required')">{{'REQUIRED' | translate}} </div>
          <div *ngIf="registerForm.controls.name.hasError('minLength')">{{'MIN_LENGTH_OF' | translate}} 1</div>
        </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'USERNAME' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="todo.username" formControlName="username"  [class.invalid]="!registerForm.controls.username.valid && (registerForm.controls.username.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls.username.valid  && (registerForm.controls.username.dirty )" class="alert-danger">
        <div *ngIf="registerForm.controls.username.hasError('maxLength')">{{'MAX_LENGTH_OF' | translate}} 30 </div>
        <div *ngIf="registerForm.controls.username.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="registerForm.controls.username.hasError('minLength')">{{'MIN_LENGTH_OF' | translate}} 1</div>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'PASSWORD' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="todo.password" formControlName="password" [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls.password.valid  && (registerForm.controls.password.dirty )" class="alert-danger">
        <div *ngIf="registerForm.controls.password.hasError('maxLength')">{{'MAX_LENGTH_OF' | translate}} 30 </div>
        <div *ngIf="registerForm.controls.password.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="registerForm.controls.password.hasError('minLength')">{{'MIN_LENGTH_OF' | translate}} 1</div>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'AGE' | translate}}</ion-label>
        <ion-input type="number" formControlName="age" [(ngModel)]="todo.age" [class.invalid]="!registerForm.controls.age.valid && (registerForm.controls.age.dirty)" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls.age.valid  && (registerForm.controls.age.dirty )" class="alert-danger">
        <div *ngIf="registerForm.controls.age.hasError('max')">{{'MAX_VALUE_OF' | translate}} 150 </div>
        <div *ngIf="registerForm.controls.age.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="registerForm.controls.age.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'WEIGHT' | translate}}</ion-label>
        <ion-input type="number" formControlName="weight" [(ngModel)]="todo.weight" [class.invalid]="!registerForm.controls.weight.valid && (registerForm.controls.weight.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls.weight.valid  && (registerForm.controls.weight.dirty )" class="alert-danger">
        <div *ngIf="registerForm.controls.weight.hasError('max')">{{'MAX_VALUE_OF' | translate}} 300 </div>
        <div *ngIf="registerForm.controls.weight.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
        <div *ngIf="registerForm.controls.weight.hasError('required')">{{'REQUIRED' | translate}} </div>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'HEIGHT' | translate}}</ion-label>
        <ion-input type="number" formControlName="height"  [(ngModel)]="todo.height" [class.invalid]="!registerForm.controls.height.valid && (registerForm.controls.height.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!registerForm.controls.height.valid  && (registerForm.controls.height.dirty )" class="alert-danger">
        <div *ngIf="registerForm.controls.height.hasError('max')">{{'MAX_VALUE_OF' | translate}} 250 </div>
        <div *ngIf="registerForm.controls.height.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="registerForm.controls.height.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'GENDER' | translate}}</ion-label>
        <ion-select [(ngModel)]="todo.gender.id" formControlName="gender" required>
          <ion-option *ngFor="let g of gender" [value]="g.id">{{g.name | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item ion-col col-12>
        <ion-label class="register-form-text-style" floating>{{'LIFE_STYLE' | translate}}</ion-label>
        <ion-select [(ngModel)]="todo.lifeStyle.id" formControlName="lifeStyle" required>
          <ion-option *ngFor="let ls of lifeStyle" [value]="ls.id">{{ls.name | translate}}</ion-option>
        </ion-select>
      </ion-item>
    <br><br><br>
    <div ion-col col-12 class="register-button">
      <button type="submit" round ion-button block [disabled]="!registerForm.valid || !serverUp" >
        {{'REGISTER' | translate}}
      </button>
    </div>
  </form>
</ion-content>
