<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only style="padding-right: 20px;" (click)="dataFetchSwitch($event)">
        <ion-icon *ngIf="bandManager.dataFetch" name="pulse"></ion-icon>
        <ion-icon *ngIf="!bandManager.dataFetch" name="alert"></ion-icon>

      </button>
      <button ion-button icon-only (click)="openUserProfilePopover($event)">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-tabs  (ionChange)="tabChange($event)">
    <ion-tab tabIcon="home" [root]="homeTab" tabTitle=" {{'START' | translate }}"></ion-tab>
    <ion-tab tabIcon="healthBand-chart-sp" [root]="statsTab" tabTitle=" {{'STATS' | translate}}"></ion-tab>
    <ion-tab tabIcon="healthBand-myDevices" tabTitle=" {{'MY_DEVICES' | translate}}" [root]="myDevicesTab" ></ion-tab>
  </ion-tabs>`

</ion-content>
