


<!--ion-header>
  <ion-navbar>
    <ion-title>
      Start
    </ion-title>
  </ion-navbar>
</ion-header-->

<ion-content parallax-header class="main-bg-image">

  <div no-padding class="header-image">
    <div *ngIf="showStepsBar">
      <progress-bar [progress]="stepsProgress"></progress-bar>
    </div>

    <div class="grid2">
    <ion-grid >
      <ion-row>
        <ion-col col-4 style="border-left:none;">
          <h1>{{ 'STEPS_U' | translate }}</h1>
          <h2>{{bandManager.getDefaultBandSteps()}}</h2>
        </ion-col>
        <ion-col col-4 style="border-left:none;">
          <h1>{{ 'DISTANCE' | translate }} (m)</h1>
          <h2>{{bandManager.getDefaultBandDistance()}}</h2>
        </ion-col>
        <ion-col col-4 style="border:none;">
        <h1>{{ 'CALORIES' | translate }} (kCal)</h1>
        <h2>{{bandManager.getDefaultBandCalories()}}</h2>
      </ion-col>
      </ion-row>
    </ion-grid>
    </div>

    <div class="grid1">
      <div class="circle">
    <ion-grid >
      <ion-row>
        <ion-col col-12>
        <ion-icon name="healthBand-myDevices2"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
        <h1>{{bandManager.getDefaultBandBatteryPercentage()}}<br>%</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
      </div>
    </div>
  </div>



  <div padding class="main-content" style="width: 100%; padding-left: 0; padding-right: 0; padding-top: 0;">

    <div class="notification-title">
      <h1>{{'NOTIFICATIONS' | translate}}</h1>
    </div>

    <timeline>
      <timeline-item *ngFor="let item of notificationProvider.items.reverse()">
        <timeline-time [time]="item.time"></timeline-time>
        <div class="icon-closeable" #ic>
        <ion-icon ></ion-icon>
        </div>
        <ion-icon *ngIf="item.alert==0" ion-button icon-only [name]="item.icon" (click)="toggleTimeline(item)"></ion-icon>
        <ion-icon *ngIf="item.alert==1" style="background-color: green;" ion-button icon-only [name]="item.icon" (click)="toggleTimeline(item)"></ion-icon>
        <ion-icon *ngIf="item.alert==2" style="background-color: orange;" ion-button icon-only [name]="item.icon" (click)="toggleTimeline(item)"></ion-icon>
        <ion-icon *ngIf="item.alert==3" style="background-color: red;" ion-button icon-only [name]="item.icon" (click)="toggleTimeline(item)"></ion-icon>

        <ion-card >
          <ion-card-header>
            {{item.title}}
          </ion-card-header>
          <div #cc>
          <ion-card-content >
            {{item.content}}
          </ion-card-content>
          </div>
        </ion-card>
      </timeline-item>

    </timeline>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     <button class="green-button clean-button" ion-button round (click)="clearButton()">
       {{'CLEAR' | translate}}
     </button>
  </div>
</ion-content>
