page-home {
  .main-bg-image{
    //background-image: linear-gradient(to bottom, white , #deede7);;
  }

  .header-image{
    position: relative;
    height:35vh;
    background-image: linear-gradient(to bottom, #0d5c63 ,#44a1a0);
   }

  .bg-image{
    position: relative;
    height: 100%;
    width: 100%;

  }

  .min-image{
    position: absolute;
    left: 5%;
    top: 10%;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
  }

  .user-name{
    position: absolute;
    left: 5%;
    top: 5%;
    color: #ffffff;
    font-size: 2em;
  }

  .device-name{
    position: absolute;
    right: 20%;
    top:30%;
    color: #ffffff;
    font-size: 1em;
  }
  progress-bar{
    position: absolute;
    top: 55%;
    width: 80%;
    margin-left: 10%;
    -webkit-transition: width 100ms;
  }

  .grid1{
    position: absolute;
    width: 100%;
    display: inline-block;
    top:5%;
    .circle{
      margin: 0 auto;
      position: relative;
      border:1px solid white;
      border-radius:50%;
      width: 100px;
      height: 100px;
    }
    ion-icon{
      position: relative;
      font-size: 1.5em;
    }
    ion-grid{
      position: relative;
      height: 100%;
      //width: 100%;

      color:white;
    }
    ion-row{
      height: 15%;
    }
    ion-col{
      //bottom: 10px;
      text-align: center;
      position: relative;
      h1{
        position: relative;
        font-size: 1.5em;
      }
    }
  }

  .grid2{
    ion-grid{

      position: absolute;
      width: 100%;
      height:100%;
      top:70%;
      color:white;
    }
    ion-row{
      height: 20%;
    }
    ion-col{
      text-align: center;
      position: relative;
      h1{
        position: relative;
        width: 100%;
        bottom: 25px;
        font-size: 1.1em;
      }
      h2{
        position: relative;
        width: 100%;
        bottom: 25px;
        font-size: 1em;
      }
      border: 1px solid white;
      border-top: none;
      border-bottom: none;

    }
  }

  .clean-button{
    left: 50%;
    transform: translate(-50%, 0) !important;
    color: white;
    width: 60%;
    background-color:  #44a1a0;
  }

  .notification-title{
    background-color: white;
    //height: 4%;
    h1{
      text-align: center;
      font-size: 1.4em;
      font-weight: normal;
      padding-top: 2%;
      padding-bottom: 2%;
    }
  }




}
