page-stats {
  .card-header{
    width: 100%;
    text-align: center;
  }

  .card-content-closeable{
  }

  .card-content-closeable{
    padding: 13px 16px;
    max-height: 300px;
  }

  ion-slides{
  }


  .card-alert{
  }

}
