<!--
  Generated template for the StatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--ion-header>

  <ion-navbar>
    <ion-title>StatsPage</ion-title>
  </ion-navbar>

</ion-header-->


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let i of [0,1,2,3]">
    <ion-card-header (click)="toggleAccordion(i)">
      {{titles[i] | translate}}
      <ion-icon name="arrow-dropup-circle" style="float:right;" *ngIf="accordionExpanded[i]"></ion-icon>
      <ion-icon name="arrow-dropdown-circle" style="float:right;" *ngIf="!accordionExpanded[i]"></ion-icon>
    </ion-card-header>

    <ion-card-content class="card-content-closeable" #cc>
      <ion-slides>
        <ion-slide *ngFor="let j of [0,1,2,3,4]">
          <canvas #canvas></canvas>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>
