<!-- Generated template for the Miband2PairComponent component -->
<div class="pair-popover">
  <h1>{{'MI_BAND2_PAIR' | translate}}</h1>
  <br>
  <h2>{{'MI_BAND2_PAIR_INSTRUCTIONS' | translate}}</h2>
  <br>
  <br>
  <br>
  <br>
  <img src="assets/imgs/miband2-pair.png" >
  <br>
  <br>
  <br>
  <button ion-button (click)="retryConnection()">{{'BAND_DID_NOT_VIBRATE' | translate}}</button>
  <br>
  <br>
  <br>
</div>
