miband2-pair {

  .pair-popover{
    background-color: color($colors,secondary);
  }
h1{
  text-align: center;
  font-size: 1.5em;
  color: white;
}
  h2{
    text-align: center;
    font-size: 1.2em;
    color: white;
  }
button{
  left: 50% !important;
  transform: translate(-50%,0) !important;
}

  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
