// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0d5c63,
  secondary:  #44a1a0,
  danger:     #f53d3d,
  light:      #f2f2f2,
  grey: 	    #a6a6a6,
  dark:       #212121,
  very-dark:  #121212,
  dark-blue:  #123456,
  green:      #1db954,
  green2:     #32db64
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../assets/fonts/montserrat/Montserrat-ExtraBold.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url("../assets/fonts/montserrat/Montserrat-Medium.otf");
}

$menu-width: 300px;

$tabs-background: color($colors,dark);
$tabs-md-tab-text-color:color($colors,grey);
$tabs-md-tab-icon-color:color($colors,grey);

$tabs-tab-color-active:white;


$toolbar-background: color($colors,primary);

$background-md-color:color($colors,light);

$card-md-background-color: white;


$list-md-background-color:transparent;
$list-md-header-color:transparent;
$list-md-text-color:black;
$label-md-text-color:black;
$item-md-divider-background:transparent;

$checkbox-md-icon-background-color-on:color($colors,green);
$checkbox-md-icon-border-color-off: white;
