<ion-menu [content]="NAV" >
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'MENU' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list >
      <button ion-item *ngFor="let page of pages" (click)="goToPage(page.component)" menuClose>
        <ion-icon item-left name={{page.icon}}></ion-icon>
        {{page.titulo | translate}}
      </button>
      <a href="https://ec2-18-218-112-146.us-east-2.compute.amazonaws.com:8443/hm-app-webapp/" ion-item><ion-icon item-left name="globe"></ion-icon>{{'WEB_SITE' | translate}}</a>
    </ion-list>

    <ion-footer no-lines>
      <p style=" font-size: 0.7em; text-align:center; color:white;">Adrián Bouza Naveira - TFG Universidade da Coruña</p>
    </ion-footer>
  </ion-content>
</ion-menu>
<ion-nav #NAV [root]="rootPage"></ion-nav>
