// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="healthBand-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="healthBand-myDevices"] {
    mask-image: url(../assets/imgs/heart-rate.svg);
  }&[class*="healthBand-vibration"] {
     mask-image: url(../assets/imgs/cell-phone-vibration.svg);
   }&[class*="healthBand-heart-rate"]{
      mask-image: url(../assets/imgs/heart-rate-measurement.svg);
    }&[class*="healthBand-ring-sp"]{
       mask-image: url(../assets/imgs/rings.svg);
     }&[class*="healthBand-oval-sp"]{
        mask-image: url(../assets/imgs/oval.svg);
      }&[class*="healthBand-newUser-sp"]{
         mask-image: url(../assets/imgs/new-user.svg);
       }&[class*="healthBand-login-sp"]{
          mask-image: url(../assets/imgs/login.svg);
        }&[class*="healthBand-chart-sp"]{
           mask-image: url(../assets/imgs/bar-chart.svg);
         }&[class*="healthBand-walk-sp"]{
            mask-image: url(../assets/imgs/pedestrian-walking.svg);
          }&[class*="healthBand-myDevices2"]{
             mask-image: url(../assets/imgs/heart-rate2.svg);
           }
}

.alert-danger{
  color: map_get($colors,danger);;
}

.green-button{
  color:#2ecc71;
  border-color:#2ecc71;
}

.red-button{
  color:#F44336;
  border-color:#F44336;
}

.menu-inner .item {
  margin-top: 10%;
  background: transparent;
  color: white;
}

ion-menu{
  ion-content{
    background-image: linear-gradient(to bottom, #0d5c63 , #44a1a0) !important;
  }
}

.pair-ìnstructions-popover .popover-content{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  align-content: center;
  width: 70% !important;
  background-color: color($colors,secondary);
}

ion-title{
  text-align: center;
}

h1{
  font-family: Montserrat;
  font-weight: bold;
}
h2, p, div{
  font-family: Montserrat;
  font-weight: normal;
}

.toastStyle{
  text-align: center;
}
