page-heart-rate-snapshot {
  .scroll-content{
    //background-color: red;
  }

  .heart-img{
    //vertical-align: center;
    position: absolute;
    width: 60%;
    left: 50% !important;
    top: 40%;
    transform: translate(-50%, -40%) !important;


  }
  .loop-gif{
    width:100%;
    height: 70%;

    vertical-align: center
  ;
  }

  .main-div{
    width: 100%;
    height: 100%;
  }

  .bpm{
    width:100%;
    height: 100%;
    h1{
      position: absolute;
      font-size:3em;
      font-weight: normal;
      left: 50%;
      top:40%;
      transform: translate(-50%, -40%) !important;
      color:white;
    }
  }

}
