<!--
  Generated template for the HeartRateSnapshotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'HR_SNAPSHOT' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="main-div">
    <div style="text-align: center; color: #44a1a0;" *ngIf="!device.heartRateSnapshotMeasured">
      <h1>{{'HR_MEASURING' | translate}}</h1>
    </div>
    <img class="heart-img" src="assets/imgs/heart.svg" *ngIf="device.heartRateSnapshotMeasured==true || done==true"/>

    <img class="loop-gif" src="assets/imgs/rings.svg" *ngIf="device.heartRateSnapshotMeasured==false && done==false"/>

    <div class="bpm" *ngIf="device.heartRateSnapshotMeasured==true"><h1>{{device.heartRateSnapshotValue}} BPM</h1></div>
  </div>
</ion-content>
