<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>WelcomePage</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="healthBand-login-sp" [root]="loginTab" tabTitle=" {{'LOGIN' | translate}}"></ion-tab>
    <ion-tab tabIcon="healthBand-newUser-sp" [root]="registerTab" tabTitle=" {{'REGISTER' | translate}}"></ion-tab>
  </ion-tabs>
</ion-content>
