.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 3%;
    margin-left: 12px;
  }
  timeline-item {
    position: relative;
    display: inline-block;
    width: 100%;
    timeline-time {
      display: block;
      width: 100%;
      position: absolute;
      top: 3%;
      left: 15%;
      span {
        //display: block;
        //text-align: center;
        &:last-child {
          font-size: 1.3em;
          color: #3594cb;
        }
      }
    }
    /* Right content */
    ion-card {
      //margin: 15px 0 0 0;
      margin-top: 10%;
      margin-left: 10% !important;



      width: 88% !important;
      position: relative;

    }

    ion-card-header{
      text-align: center;
      //background-color: #aaa69d;
    }
    .card-content-closeable{
      -webkit-transition: max-height 500ms;
      max-height: 0;
      //background-color: #f7f1e3;
    }
    .icon-closeable{
      -webkit-transition: opacity 500ms;
      opacity: 1;
    }

    ion-icon {
      width: 30px;
      height: 30px;
      font-size: 1.4em;
      position: absolute;
      color: #fff;
      background: #46a4da;
      border-radius: 50%;
      box-shadow: 0 0 0 8px #afdcf8;
      text-align: center;
      left: 3%;
      top: 0;
      margin: 0 0 0 0px;
      line-height: 30px;
      &:after {
        left: 35px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: #afdcf8;
        border-width: 10px;
        top: 5px;
      }
    }

    &:last-child{
      width: 100%;
      ion-icon{
        box-shadow: none;
        &:after{
          border-width: 0;
        }
      }
    }
  }

}
