<ion-list>
  <ion-item>
    {{'HELLO' | translate}} {{name}}
    <button ion-button clear item-end (click)="logOut()">
      <ion-icon item-left name="settings"></ion-icon>
      Log out
    </button>
  </ion-item>

  <button ion-item (click)="findSelectedBand()">
    <h2>{{'SELECTED_BAND' | translate}}</h2>
    <p>
      {{bandManager.getDefaultBandName()}}
    </p>
  </button>
  <ion-item>
    <ion-label>{{'DATA_FETCH' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="bandManager.dataFetch" (ionChange)="dataFetchSwitch()"></ion-toggle>
  </ion-item>
</ion-list>
