miband2-card {

  h3{
    padding-left:4%;
    padding-top: 3%;
    padding-right: 4%;
    font-size: 0.9em !important;

  }
  h1{
    color: white !important;
    text-align: center;
    //font-size: 1.3em !important;
    font-weight: bold !important;
  }

  h2{
    color: white !important;
    text-align: center;
    //font-size: 0.9em !important;

  }
  .connect-disconnect-button{
    left:50%;
    transform: translate(-50%, 60%) !important;
    border-color: white;
    color:white;
    //font-size: 0.8em;
  }

  .ion-card-border{
    border: 4px solid #44a1a0;
  }

  .card-button{
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1.2em;
  }

  ion-checkbox{
    z-index: 1;
    zoom:2;
    position: absolute;
    left:0;
    top:0;
    width: 20px;
    border-color: red;
  }


}
