<!-- Generated template for the Miband2CardComponent component -->
<!--div>
  <ion-card>
      <img src={{device.getResourceImage()}}>
      <ion-card-content>
      <ion-slides class="card-slide" pager>
        <ion-slide >
          <div class="card-name">{{device.name}}</div>
          <div class="card-addr">{{device.id}}</div>
        </ion-slide>
        <ion-slide *ngIf="device.connectedBool">
          <div class="card-info">
            <h3>{{'HARDWARE_REVISION' | translate}} {{device.hardwareRevision}}</h3>
            <h3>{{'SOFTWARE_REVISION' | translate}} {{device.softwareRevision}}</h3>
            <h3>{{'BATTERY' | translate}}: {{device.battery}}%</h3>
            <h3>{{'STEPS_U' | translate}}: {{device.steps}}</h3>
            <h3>{{'DISTANCE' | translate}}: {{device.distance}} m</h3>
            <h3>{{'CALORIES' | translate}}: {{device.calories}} kCal</h3>
          </div>
        </ion-slide>
      </ion-slides>
      <ion-checkbox outline color="light" [checked]="device.isSelectedBand" (click)="changeSelectedBand(device)"></ion-checkbox>

      <button outline ion-button class="card-button red-button" style="float:left" icon-only="" (click)="deleteDevice(device)">
        <ion-icon name="trash"></ion-icon>
      </button>

      <button outline ion-button (click)="connectDisconnect(device)">
        {{device.connectedString | translate}}
      </button>

      <button outline [disabled]="!device.connectedBool" class="card-button red-button" style="float:right" ion-button icon-only (click)="heartRateSnapshot(device)">
        <ion-icon name="healthBand-heart-rate"></ion-icon>
      </button>

      <button outline [disabled]="!device.connectedBool" class="card-button green-button" style="float:right" ion-button icon-only (click)="findDevice(device)">
        <ion-icon name="healthBand-vibration"></ion-icon>
      </button>
    </ion-card-content>

  </ion-card>
</div-->

<div>
  <ion-card [ngClass]="{'ion-card-border':device.isSelectedBand}">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-5 style="background-color: #44a1a0">
              <ion-checkbox color="light" [checked]="device.isSelectedBand" (click)="changeSelectedBand(device)"></ion-checkbox>
              <br>
              <h1 class="card-name">{{device.name}}</h1>
              <br>
              <h2 class="card-addr">{{device.id}}</h2>
              <button class="connect-disconnect-button" outline ion-button (click)="connectDisconnect(device)">
                {{device.connectedString | translate}}
              </button>
            </ion-col>
            <ion-col col-7>
              <div class="card-info">
                <h3><strong>{{'HARDWARE_REVISION' | translate}}</strong> {{device.hardwareRevision}}</h3>
                <h3><strong>{{'SOFTWARE_REVISION' | translate}}</strong> {{device.softwareRevision}}</h3>
                <h3><strong>{{'BATTERY' | translate}}:</strong> {{device.battery}}%</h3>
                <br>
                <ion-row style="text-align: center">
                  <h3 ion-col col-4><strong>{{'STEPS_U' | translate}}</strong> <br>{{device.steps}}</h3>
                  <h3 ion-col col-4 style="border-left: 1px solid black"><strong>{{'DISTANCE' | translate}}</strong> <br>{{device.distance}} m</h3>
                  <h3 ion-col col-4 style="border-left: 1px solid black"><strong>{{'CALORIES' | translate}}</strong> <br>{{device.calories}} kCal</h3>
                </ion-row>

              </div>

              <button outline ion-button class="card-button red-button delete-button" style="float:right" icon-only="" (click)="deleteDevice(device)">
                <ion-icon name="trash"></ion-icon>
              </button>

              <button outline [disabled]="!device.connectedBool" class="card-button red-button" style="float:left" ion-button icon-only (click)="heartRateSnapshot(device)">
                <ion-icon name="healthBand-heart-rate"></ion-icon>
              </button>

              <button outline [disabled]="!device.connectedBool" class="card-button green-button" style="float:left" ion-button icon-only (click)="findDevice(device)">
                <ion-icon name="healthBand-vibration"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

  </ion-card>
</div>
