<!--
  Generated template for the DiscoverDevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'SEARCH_NEW_DEVICES' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="div-button-class" #buttonDiv>
    <button class="scanButton" #scanButton ion-button  (click)="startBleScan()">
      <ion-title *ngIf="!scanning">
      {{'START_SCANNING' | translate}}
      </ion-title>

      <ion-title *ngIf="scanning">
        {{'STOP_SCANNING' | translate}}
      </ion-title>
    </button>
  </div>

  <div class="card-background-page">
    <ion-card *ngFor="let device of scanDevices">
      <ion-row>
        <ion-col col-5 style="background-color: #44a1a0">
          <br>
          <h1 class="card-name">{{device.name}}</h1>
          <br>
          <h2 class="card-addr">{{device.id}}</h2>
          <br>
          <h2 class="card-rssi">Rssi: {{device.rssi}}</h2>
        </ion-col>
        <ion-col col-7>
          <div class="card-button">
            <button outline ion-button (click)="connectBand(device)">{{'CONNECT' | translate}}</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>
