page-discover-devices {

  .div-button-class{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: height 1s;
  }
  .scanButton{
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    -webkit-transition:height 1s, width 1s, background 1s;
    background-color:#44a1a0;
    background-size: contain;
    color:black;
  }
  .card-background-page {



    ion-card {
      text-align: center;
    }

    .card-name {
      font-size: 1.5em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-addr {
      font-size: 1.0em;
      width: 100%;
      color: #fff;
    }
    .card-rssi {
      text-align: right !important;
      font-size: 0.8em;
      position:relative;
      color: #fff;
    }
    .card-button{
      width: 100%;
      height: 100%;
      button{
        border-color: transparent;
        color: #44a1a0;
        font-size: 1.2em;
        width: 100%;
        height: 100%;
        margin:0 0 0 0;
      }
    }
  }
}
