<!--
  Generated template for the ProfileSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'PROFILE_SETTINGS' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card text-wrap>
    <ion-card-content>
      <form ion-grid fixed [formGroup]="profileForm" (ngSubmit)="saveChanges()" (change)="formChanged()">

      <ion-item>
        <ion-label fixed>{{'NAME' | translate}}</ion-label>
        <ion-input type="text" formControlName="name"  [(ngModel)]="userProfile.name" [class.invalid]="!profileForm.controls.name.valid && (profileForm.controls.name.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!profileForm.controls.name.valid  && (profileForm.controls.name.dirty )" class="alert-danger">
        <div *ngIf="profileForm.controls.name.hasError('maxLength')">{{'MAX_LENGTH_OF' | translate}} 30 </div>
        <div *ngIf="profileForm.controls.name.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="profileForm.controls.name.hasError('minLength')">{{'MIN_LENGTH_OF' | translate}} 1</div>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{'USERNAME' | translate}}</ion-label>
        <ion-input type="email"  [readonly]="true" value={{userProfile.username}}></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>{{'AGE' | translate}}</ion-label>
        <ion-input type="number" formControlName="age" [(ngModel)]="userProfile.healthStats.age" [class.invalid]="!profileForm.controls.age.valid && (profileForm.controls.age.dirty)" ></ion-input>
      </ion-item>
      <ion-item *ngIf="!profileForm.controls.age.valid  && (profileForm.controls.age.dirty )" class="alert-danger">
        <div *ngIf="profileForm.controls.age.hasError('max')">{{'MAX_VALUE_OF' | translate}} 150 </div>
        <div *ngIf="profileForm.controls.age.hasError('required')">{{'REQUIRED' | translate}} </div>
        <div *ngIf="profileForm.controls.age.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{'WEIGHT' | translate}}</ion-label>
        <ion-input type="number" formControlName="weight" [(ngModel)]="userProfile.healthStats.weight" [class.invalid]="!profileForm.controls.weight.valid && (profileForm.controls.weight.dirty)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!profileForm.controls.weight.valid  && (profileForm.controls.weight.dirty )" class="alert-danger">
        <div *ngIf="profileForm.controls.weight.hasError('max')">{{'MAX_VALUE_OF' | translate}} 300 </div>
        <div *ngIf="profileForm.controls.weight.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
        <div *ngIf="profileForm.controls.weight.hasError('required')">{{'REQUIRED' | translate}} </div>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{'HEIGHT' | translate}}</ion-label>
        <ion-input type="number" formControlName="height"  [(ngModel)]="userProfile.healthStats.height" [class.invalid]="!profileForm.controls.height.valid && (profileForm.controls.height.dirty)"></ion-input>
      </ion-item>
        <ion-item *ngIf="!profileForm.controls.height.valid  && (profileForm.controls.height.dirty )" class="alert-danger">
          <div *ngIf="profileForm.controls.height.hasError('max')">{{'MAX_VALUE_OF' | translate}} 250 </div>
          <div *ngIf="profileForm.controls.height.hasError('required')">{{'REQUIRED' | translate}} </div>
          <div *ngIf="profileForm.controls.height.hasError('pattern')">{{'POSITIVE_NUMBER' | translate}}</div>
        </ion-item>
      <ion-item>
        <ion-label floating>{{'GENDER' | translate}}</ion-label>
        <ion-select [(ngModel)]="userProfile.healthStats.gender.id" formControlName="gender" required>
          <ion-option *ngFor="let g of gender" [value]="g.id">{{g.name | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'LIFE_STYLE' | translate}}</ion-label>
        <ion-select [(ngModel)]="userProfile.healthStats.lifeStyle.id"  formControlName="lifeStyle" (ionChange)="formChanged()">
          <ion-option *ngFor="let ls of lifeStyle" [value]="ls.id">{{ls.name | translate}}</ion-option>
        </ion-select>
      </ion-item>

      <div ion-col col-12>
        <button type="submit" [disabled]="!saveChangesBool || !profileForm.valid" ion-button block>
          {{'SAVE' | translate}}
        </button>
      </div>
      </form>
    </ion-card-content>


  </ion-card>


</ion-content>
