<!--
  Generated template for the ConfigurationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CONFIGURATION' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding text-wrap>

<div *ngIf="configurationProvider.loaded">
  <ion-list >
    <ion-item-divider>
      {{ 'STEPS_BAR_SETTINGS' | translate }}
    </ion-item-divider>
    <ion-item-group>
    <ion-item no-padding>
      <ion-label padding-left>{{ 'SHOW_STEPS_OBJECTIVE_BAR' | translate }} </ion-label>
      <ion-toggle [(ngModel)]="configurationProvider.confValues.showStepsObjectiveBar" name="showStepsObjectiveBar"></ion-toggle>
    </ion-item>

    <ion-item no-padding >
      <ion-label padding-left>{{ 'DAILY_STEPS_OBJECTIVE' | translate }} </ion-label>
      <ion-select [(ngModel)]="configurationProvider.confValues.stepsObjective" name="stepsObjective" disabled={{!configurationProvider.confValues.showStepsObjectiveBar}}>
        <ion-option *ngFor="let t of configurationProvider.confOptions.stepsObjective" [value]="t">{{ 'STEPS_L' | translate:{value: t} }}</ion-option>
      </ion-select>
    </ion-item>
    </ion-item-group>

    <ion-item-divider>
      {{ 'OTHER_SETTINGS' | translate }}
    </ion-item-divider>

    <ion-item-group>
        <ion-item no-padding>
          <ion-label padding-left>{{ 'BLUETOOTH_SCAN_TIMEOUT' | translate }} </ion-label>
          <ion-select [(ngModel)]="configurationProvider.confValues.bluetoothScanTime" name="bluetoothScanTime">
            <ion-option *ngFor="let t of configurationProvider.confOptions.bluetoothScanTime" [value]="t">{{t}}s</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-padding>
          <ion-label padding-left>{{ 'DATA_FETCH_INTERVAL' | translate }} </ion-label>
          <ion-select [(ngModel)]="configurationProvider.confValues.dataFetchInterval" name="dataFetchInterval">
            <ion-option *ngFor="let t of configurationProvider.confOptions.dataFetchInterval" [value]="t">{{t}}s</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CHOOSE_LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="configurationProvider.confValues.language" name="language" (ionChange)="configurationProvider.setLanguage($event)">
          <ion-option *ngFor="let item of configurationProvider.idioms" [value]="item.value">
            {{ item.label }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-divider>
      {{ 'ADVANCED' | translate }}
    </ion-item-divider>

    <ion-item no-padding>
      <ion-label padding-left>{{ 'SHOW_BAND_CHANGE_ALERT' | translate }} </ion-label>
      <ion-toggle [(ngModel)]="configurationProvider.confValues.do_not_show_alert_band_change" name="do_not_show_alert_band_change"></ion-toggle>
    </ion-item>

    <div *ngIf="webManager.isAdmin">
    <ion-item-group>
      <ion-item>
        <ion-label floating>{{'MANUAL_CONNECT' | translate}}</ion-label>
        <ion-input type="url" [(ngModel)]="debugBand" name="debugBand" required></ion-input>
        <button ion-button outline item-end  (click)="manualConnect()">{{'CONNECT' | translate}}</button>
    </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-label floating>Endpoint</ion-label>
        <ion-input type="url" [(ngModel)]="endpoint" name="endpoint" required></ion-input>
      </ion-item>
    </ion-item-group>
    </div>

  </ion-list>
</div>
</ion-content>
